@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
  background: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: "Bona Nova SC", serif;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;

}

.flavor,
.dessert {
  width: 75%;
  text-align: left;
}

.price {
  width: 25%;
  text-align: right;
}

.item p {
  display: inline-block;
}

h1,
h2,
p {
  text-align: center;
}

h1,
h2 {
  font-family: 'Nunito Sans', serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
  font-family: Impact;
}

hr {
  height: 5px;
  margin: 0;
  /* Adjust margin as needed */
  border: 0;
  /* Remove Bootstrap's border style */
  /* border-top: px solid red; */
  /* Set your custom border style */
  opacity: 1;
  /* Ensure full opacity if needed */
  background: linear-gradient(to right, black, brown);
}